[project]
	description = ACPI ASL highlighting for vim
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Martin L. Roth (martinlroth)
[access "refs/for/refs/*"]
	read = group user/Martin L. Roth (martinlroth)
	push = group user/Martin L. Roth (martinlroth)
	label-Code-Review = -2..+2 group user/Martin L. Roth (martinlroth)
	label-Verified = -1..+1 group user/Martin L. Roth (martinlroth)
	rebase = group user/Martin L. Roth (martinlroth)
	removeReviewer = group user/Martin L. Roth (martinlroth)
	submit = group user/Martin L. Roth (martinlroth)
[access "refs/heads/*"]
	read = group user/Martin L. Roth (martinlroth)
	create = group user/Martin L. Roth (martinlroth)
	push = +force group user/Martin L. Roth (martinlroth)
	pushMerge = group user/Martin L. Roth (martinlroth)
[access "refs/tags/*"]
	push = +force group user/Martin L. Roth (martinlroth)
	pushTag = group user/Martin L. Roth (martinlroth)
	pushSignedTag = group user/Martin L. Roth (martinlroth)
